"*":
  "atom-beautify":
    _analyticsUserId: "80d4dd6c-d300-4bd3-bd16-a1e776e9f74b"
    language_php_beautify_on_save: true
  "atom-terminal":
    MacWinRunDirectly: true
  core:
    disabledPackages: [
      "flatten-json"
      "whitespace"
      "linter-pep8"
    ]
    packagesWithKeymapsDisabled: [
      "nerd-treeview"
      "open-on-github"
    ]
  editor:
    fontSize: 16
    invisibles: {}
    showInvisibles: true
  "exception-reporting":
    userId: "39a1dca6-432e-ae78-da0b-e2b93d7a04cc"
  "fuzzy-finder": {}
  "gist-it": {}
  "git-plus": {}
  linter: {}
  "linter-pep8":
    maxLineLength: 120
    pep8ExecutablePath: "/usr/local/bin/pep8"
  "linter-pylint": {}
  minimap:
    plugins:
      codeglance: true
      "find-and-replace": true
      "git-diff": true
    textOpacity: 0.8
  "open-on-github":
    includeLineNumbersInUrls: false
  "open-terminal-here": {}
  preview: {}
  "symbols-tree-view":
    autoHide: true
  tabs:
    usePreviewTabs: true
  "tree-view-filter":
    liveUpdate: true
  welcome:
    showOnStartup: false
  "xml-formatter":
    xmlUtf8Header: false
